*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
body{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: cente0r;
    

}
.calculator{
    border: 2px solid, #e42e00;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(60deg,#080808,#a4a8a7);
    box-shadow: 0px 4px 12px rgba(226, 82, 5, 0.7);

}
input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 4px 12px rgba(214, 32, 8, 0.681)  ;
    text-align: right;
    font-size: 60px;
    cursor: pointer;

}
input::placeholder{
    color: rgb(24, 24, 24);
}
button{
    width: 105px;
    height: 105px;
    border : none;
    margin : 7px;
    background: transparent;
    color: rgb(228, 223, 223);
    border-radius: 70%;
    font-size: 30px;
    cursor: pointer;
    box-shadow: -5px 5px 12px rgba(201, 16, 16, 0.485);
    
}
.equalBtn
{
    background-color: orangered
}
.operator 
{
    color : greenyellow
}